.choose-img img {
    border-radius: 15px;
  }
  
  .choose-content {
    padding-right: 50px;
  }
  
  .choose-content h2 {
    font-weight: 600;
  }
  
  .choose-img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 777;
  }
  
  